.transactionHistory {
    width: 560px;
    margin-bottom: 60px;

    border: 1px solid lightgray;

    background-color: whitesmoke;
}

thead {
    background-color: skyblue;
    border: 1px solid lightgray;
}

tr:nth-child(even) {
    background-color: lightgray;
}

th,
td {
    padding: 8px 0 8px 0;

    text-align: center;
    border: 1px solid lightgray;
}